@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --cor-de-fundo: #F5004F;
    --cor-primaria: #000000;
    --cor-secundaria: #0cdb0c;
    --fontes: "PT Serif", serif;
}
*{
margin:0;
padding:0;
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--cor-primaria);
    font-family: var(--fonte);

}
